.carousel {
  width: 100%;
}

.carousel_icon {
  font-size: 95px;
  color: #f4c10f;
  cursor: pointer;
}

.carousel_caption {
  text-align: center;
  font-size: 35px;
  text-shadow: 0 2px 8px #000000;
}

.modal_title {
  color: #000000;
  font-weight: bolder;
}

.modal_body {
  background-color: #000000;
}
